body {
    background-image: linear-gradient(to bottom, #f7f7f7, #cccccc, #f7f7f7);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: center;
    clear: both;
}
